<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Result</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container justify-content-center w-50 p-3" style="margin-top: 5em;">
            <div th:if="${successMessage}" class="alert alert-success fill-parent">
                <h1 class="display-5">Success</h1>
                <span th:text="${successMessage}">Your changes were successfully saved.</span>
                <span>Click <a id="redirect-home" th:href="@{/home}">here </a> to continue.</span>
            </div>
            <div th:if="${errorMessage}" class="alert alert-danger fill-parent">
                <h1 class="display-5">Error</h1>
                <span th:text="${errorMessage}">Your changes were not saved.</span>
                <span>Click <a th:href="@{/home}">here </a> to continue.</span>
            </div>
           <!--/*<div class="alert alert-danger fill-parent">
                <h1 class="display-5">Error</h1>
                <span>Example Error Message</span>
                <span>Click <a>here</a> to continue.</span>
            </div>*/-->
        </div>
    </body>
</html>